@font-face {
  font-family: 'Pacifico-Regular';
  src:  url('../fonts/Pacifico-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


.hello {
  display: inline-block;
  padding: 0.5em;
  background-color: rebeccapurple;
  color: white;

  &:after {
    content: " - TEST";
    position: relative;
  }
}

h1 {
  display: inline-block;
  padding: 0.5em;
  font-family: 'Pacifico-Regular', sans-serif;
  font-weight: normal;
  background-image: url("../images/wood.jpg");
  background-size: cover;
  color: white;
  text-shadow: 0 0 4px black;
}